@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
	--primary-color: #232ed1;
	--secondary-color: #101d42;
	--accent-color: #6564db;
	--light-color: #bee8ee;
	--dark-color: #0d1317;
}

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #fff;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background-color: var(--secondary-color);
	font-family: 'Lato', sans-serif;
}

.dark-text {
	color: var(--dark-color);
}
